<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetACLs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SetACLs.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateSheetName" serializeAs="String">
                <value>Template</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="BlankTemplateFileName" serializeAs="String">
                <value>BlankTemplate.xlsx</value>
            </setting>
        </SetACLs.Properties.Settings>
    </userSettings>
</configuration>